*{
	margin: 0;
	padding: 0;
}


/*---OPMAAK SCHERMEN---*/

/*---MOBILE---*/
@media only screen and (min-width: 360px) and (max-width: 414px){
	body{
		background-color: pink;
	}

	/*figure{
		height: 10%;
	}*/
}


/*---TABLET LANDSCAPE---*/
@media only screen and (min-width: 415px) and (max-width: 1024px){
}

/*---KLEINE DESKTOP---*/
@media only screen and (min-width: 1025px) and (max-width: 2280px){
}

/*---GROTE DESKTOP---*/
@media only screen and (min-width: 2281px) and (max-width: 2260px){
}