*{
	margin: 0;
	padding: 0;
}

/*---KLOK---*/


/*---OPMAAK SCHERMEN---*/

/*---MOBILE---*/
@media only screen and (min-width: 360px) and (max-width: 414px){
	body{
		background-color: pink;
	}
}

/*---TABLET---*/
@media only screen and (min-width: 415px) and (max-width: 1024px){
	body{
		background-color: purple;
	}
}

/*---KLEINE DESKTOP---*/
@media only screen and (min-width: 1025px) and (max-width: 2280px){
	body{
		background-color: indigo;
	}
}

/*---GROTE DESKTOP---*/
@media only screen and (min-width: 2281px) and (max-width: 2260px){
	body{
		background-color: grey;
	}
}